<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.which.api.mapper.UserInterfaceInvokeMapper">

    <resultMap id="BaseResultMap" type="com.which.apicommon.model.entity.UserInterfaceInvoke">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfaceId" column="interfaceId" jdbcType="BIGINT"/>
        <result property="totalInvokes" column="totalInvokes" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceId,
        totalInvokes,status,createTime,
        updateTime,isDelete
    </sql>
</mapper>
